@font-face {
	font-family: 'nunitoRegular';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/nunitoRegular.ttf');
}

.container {
	font-family: nunitoRegular;
	max-width: 1280px;
}

.nunitoFont {
	font-family: nunitoRegular;
}
